/* partner */
.patrner_item{
    position: relative;
}
.patrner_item .item_img{
    padding: 3.5px;
    border: 1px solid;
}
.patrner_item > .row > div:nth-child(1) > .row > div > .item_img{
    border: 1px solid #999592;
}
.patrner_item > .row > div:nth-child(2) > .row > div > .item_img{
    border: 1px solid #572E13;
}
.patrner_item > .row > div:nth-child(3) > .row > div > .item_img{
    border: 1px solid #F8B62B;
}
.patrner_item > .row > div:nth-child(4) > .row > div > .item_img{
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.patrner_item > .row > div:nth-child(5) > .row > div > .item_img{
    border: 1px solid #c8ef99;
}
.patrner_item > .row > div:nth-child(6) > .row > div > .item_img{
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.patrner_item > .row > div:nth-child(7) > .row > div > .item_img{
    border: 3px solid #049944;
}
.patrner_item > .row > div:nth-child(8) > .row > div > .item_img{
    border: 1px solid #48ab9f;
}
.patrner_item .item_img img{
    width: 100%;
}
.patrner_item>.row>.col-lg-6{
    padding: 0 5% 100px 5%;
}
.patrner_item>.row>.col-lg-6>.row{
    position: relative;
}
.patrner_item>.row>.col-lg-6>.row a{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.patrner_item>.row>.col-lg-6>.col-6{
    margin: 0;
}
.patrner_item .item_cont{
    position: relative;
    font-size: 19px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 2px solid #000;
    padding-left: 8px;
}
.patrner_item .item_cont span{
    display: block;
    font-size: 15px;
}
.patrner_item .item_text{
    padding-top: 50px;
    letter-spacing: 0.9px;
    line-height: 32px;
}

.patrner_line{
    width: 100%;
    margin-bottom: 60px;
    border-bottom: 3px solid #000;
}

@media only screen and (min-width: 992px){
    .patrner_item>.row>.col-lg-6>.row{
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .patrner_item>.row>.col-lg-6>.row:hover{
        opacity: .5;
    }
}
@media only screen and (max-width: 991px){
    .patrner_item .item_text {
        padding-top: 10px;
    }
    .patrner_item .patrner_deco{
        position: relative;
        width: 100%;
    }
    .patrner_item .item_cont span{
        display: block;
        font-size: 12px;
    }
}
.text-green{
    color: green;
}